* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

#header {
    background-image:linear-gradient(to bottom, #051937, #4c275b, #982c61, #d44649);
    height: 100vh;
    width: 100%;
    position: relative;
}
.nav-bar{
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    margin:0px 0px 0px 150px;
    margin-top:-3.01rem;
}
.nav-bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right:20px;
    line-height:50px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0px;
}
.nav-bar ul li a:hover{
    color: #eb8012;
}
.nav-bar ul li{
    list-style: none;
    display: inline;
}
.nav-bar ul{
    margin-right:10px;
    align-items: flex-end;
}
#header h2{
    display: inline-block;
    padding-left: 10px;
    line-height: 50px;
    color: white;
} 
span{
    color: #d44649;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 30px;
    float: right;
    margin-top:120px;
    margin-right: 200px;
}
#header p{
    margin-top:150px;
    margin-left:320px;
    color:antiquewhite;
}
#header h1{
    margin-left:320px;
    color:orange;
    font-size: 40px;
}
#header h3{
    color:aqua;
    margin-left:320px;
}
#About{
    background-color: rgba(2, 54, 73, 0.97);
    height: auto;
    padding:20px;
}

/* common for all */
.text-align-center{
    text-align: center;
}
.pt-20px{
    padding-top: 20px;
}
#About h2{
    color:aqua;
    padding-bottom: 10px;    
}
.Aboutme{
    width:70%;
    align-items: center;
    margin:auto;
    color:white;
    border:2px solid green;
    padding:30px;
}
#Qual{
    background-color: rgb(255, 255, 128);
    justify-content: center;
    height: auto;
    text-align: center;
    display: flex;
    width: auto;
    padding: 10px;
}
#Qual h2{
    border-bottom:2px solid red;
    display: inline;
}
#Qual-out{
    background-color: rgb(255, 255, 128);
    color:aqua;
}
.Quali{
    box-shadow: 0 4px 20px;
    border-radius: 10px;
    margin: 15px;
    width: 100%;
    height: auto;
    padding: 20px;
}
.para{
    padding-top: 10px;   
}
.bg-1{
    background-color: rgb(49, 231, 179);
}
.bg-2{
    background-color: #74992e;
}
.bg-3{
    background-color: rgba(218, 124, 226, 0.788);
}
#Skills{
    background-color: rgb(81, 238, 225);
    height: auto;
    padding:20px;
}
#Skills h2{    
    color:#eb8012;
}
.webtech h1{
    border: 2px Solid red;
    margin: 20px;
    text-align: center;
    width:40%;
}
.webtech{
    justify-content: center;
    display: flex;
}
.progtech{
    display: flex;
    justify-content: center;
}
.progtech h1{
    width:40%;
    margin: 20px;
    border: 2px Solid red;
    text-align: center;
}
#Exp{
    display: flex;
    background-color: rgb(255, 255, 130);
    height: auto;width: auto;
    justify-content: center;
    text-align: center;
    padding:20px;
}
.work{
    background-color: rgb(255, 255, 130);
    color:#eb8012;
}
.Exp-details{
    box-shadow: 0 4px 20px;
    transition: 0.8s;
    border: 2px solid orange;
    border-radius: 20px;
    margin:20px;
    cursor: pointer;
    height: auto;
    padding:20px;
}
.Exp-details:hover{
    background-color: rgb(95, 204, 55);
    height:250px;
    color:#fff;
}
.hover-bg:hover{
    background-color: rgb(1, 130, 104);
    height:250px;
    color:#fff;
}
.btn{
    cursor: pointer;
    background: aqua;
    border: none;
    padding: 10px;
    transition: 0.8s;
    border-radius: 5px;
    margin-left: 71%;
    margin-top: 30px;
    width: 150px;
}
.btn a{
    text-decoration: none;;
}
.btn:hover{
    background-color: #eb8012;
    color: white;
}
#Project{
    display:flex;
    justify-content: center;
    height:200px;
    text-align:center;
}
.mywork{
    color:#eb8012;
}
.proj{
    box-shadow: 0 4px 20px;
    border-radius: 20px;
    transition: 0.8s;
    height:150px;
    width:40%;
    margin:25px;
}
.proj h3{
    padding-top: 10px;
}
.proj:hover{
    background-color: rgb(228, 122, 122);
    color:white;
}
.proj2:hover{
    background-color: rgb(90, 193, 90);
    color:white;
}
.tellme{
    background-color: lightgray;
    text-align: center;
    color: #eb8012;
    margin-top: 20px;
}
#Contact{
    background-color: transparent;
    background-color: lightgray;
    height:350px;
    display: flex;
    padding: 20px;
}
.desc{
    width:50%;
}
#user{
    color:#74992e;
    font-size: 30px;
}
#envelope{
    margin-top:20px;
    color:#74992e;
    font-size: 30px;
}
#add{
    margin-top:20px;
    color:#74992e;
    font-size: 30px;
}
.mess{
    width: 50%;
}
.mess .input {
    margin-top:10px;
    padding:5px;
    height: 30px;
    background-color: rgb(205, 216, 219);
    border:none;
}
.mess table , td , tr , .input{
    width:90%;
}
textarea{
    margin-top:10px;   
    height:150px;
    background-color: rgb(205, 216, 219);
    width:100%;
    border:none;
}
#submit{
    background-color: rgb(13, 123, 131);
    color:white;
    cursor: pointer;
    height:40px;
}
footer{
    color:white;
    background-color: rgb(6, 17, 33);
    height:150px;
    width: 100%;
}
#icon{
    margin:30px;
    font-size: 20px;
}
footer p{
    text-align: center;
    padding-top: 100px;
}
.proj1 p{
    margin-bottom: 20px;
}
.proj2 p{
    margin-bottom: 20px;
}
.proj1 a:hover{
    color:#9ef400;
}
.proj2 a:hover{
    color:whitesmoke;
}
.see{
    text-decoration: none;
    padding:3px;
    color: #ff5989;
}
@media only screen and (max-width:992px) {
    #header p{
        margin-top:200px;
        margin-left:70px;
    }
    #header h1{      
        margin-left:70px;
        font-size: 20px;
    }
    #header h3{        
        margin-left:70px;
        font-size: 15px;
    }
    img{
        height: 150px;
        width: 150px;
        margin-top:200px;
        margin-right: 100px;
    }
    .btn{
        position:absolute;
        left:4%;
        top:25rem;
        width:160px;
    }
}
/* for table */
@media only screen and (max-width:792px) {
    #header p{
        margin-top:200px;
        margin-left:70px;
    
    }
    #header h1{
        
        margin-left:70px;
        font-size: 20px;
    }
    #header h3{
        
        margin-left:70px;
        font-size: 15px;
    }
    img{
        height: 150px;
        width: 150px;
        margin-top:200px;
        margin-right: 100px;
    }
    .btn{
        position:absolute;
        left:-61%;
        top:20rem;
        width:130px;
    }
    #About{
        height: auto;  
    }
    .Aboutme{
        width: auto;
    }
    #Skills{
        height: auto;
        padding:20px;
    }
    .webtech h1{
        width: 70%;
        font-size:25px;
    }
    .progtech h1{
        width: 70%;
        font-size:25px;
    }
    #Project{
        height:220px;
    }
    .proj1{
       height:150px;
       width: 500px;
    }
    .proj2{
        height:150px;
        width:500px;
    }
    .tellme{
        padding-top:20px;
    }
    #Contact{
        height: auto;
    }
    #Qual{
        height: auto;
        padding:20px;
        width:auto;
    }
    .Quali{
        width: 100%;
        height: auto;
        padding-top: 30px;
        margin-top:0px;
       
    }
    .nav-bar ul li a{
        margin-right:5px;
      }
}
/* for mobile */
@media only screen and (max-width:600px){

    .nav-bar ul{
        background: linear-gradient(#ff54a2, #ff575a);
        width:100%;
        position: absolute;
        top:50px;
        left:0;
    }
    .nav-bar ul li{
      display: block;
      margin-left:20px;
    }
    .nav-bar ul li a:hover{
        color: #be8019;
    }
    #header p{
        margin-top:400px;
        margin-left:20px;
        font-size: 1rem;
    }
    #header h1{
        margin-left:20px;
        font-size: 1.1rem;
    }
    #header h3{
        margin-left:20px;
        font-size: 1rem;
    }
    img{
        height: 100px;
        width: 100px;
        margin-top:400px;
        margin-right: 30px;
    }
    .btn{
        position:absolute;
        left:-64%;
        top:31.5rem;
        width: 110px;
        font-size:0.8rem;
        color:#fff;
    }
    .btn:hover{
        background-color: rgba(255, 255, 85, 0.79);
        color: greenyellow;
    }
    #About{
        height: auto;
    }
    .Aboutme{
        align-items: center;
        width:auto;
        padding:20px;
        margin: 0px;
    }
    #Qual{
        height: auto;
        width: auto;
        display: block;
        background-color: rgb(255, 255, 128);
    }
    .Quali{
        width:auto;
        height: auto;
        padding: 20px;
        margin-bottom:30px;
    }
    #Project{
        height: auto;
        font-size:1rem;
        padding:10px;
    }
    .proj{
        height:auto;
        text-align: justify;
        padding:10px;
        word-spacing: normal;
        margin:10px;
    }
    .proj h3{
        font-size:1rem;
    }
    .proj1{
        width:50%;
    }
    .proj2{
        width:50%;
    }
    .proj1 p{
        margin-top: 10px;
    }
    #Skills{
        height: auto;
        padding:20px;
    }
    .webtech h1{
        margin: 10px;
        font-size: 1rem;
    
    }
    .progtech h1{
        margin: 10px;
        font-size: 1rem;
    }
    #Exp{
        height: 50vh;
       padding:10px;
    }
    .Exp-details{
        height: auto;
        border-radius: 10px;
        margin:10px;
        width:50%;
        text-align: justify;
        padding:10px;
    }
    .Exp-details h2{
        font-size:1rem;
    }
    #Contact{
        height: 550px;
        display: block;
    }
    #submit{
        width:100%;
    }
    .tellme{
        padding-top:10px;
    }
    .mess{
        width:90%;
    }
    .desc{
        font-size: 0.8rem;
        width:90%;
    }
    .mess table , td , tr , .input{
        width:98%;
    }
    footer p{
        padding:80px 10px 0px 10px;
    }
}
